{{>header}}
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

    <!-- Navbar -->
    {{>nav}}
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    {{>aside}}


    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Carrocería</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="./">Vehículo</a></li>
                <li class="breadcrumb-item active">Carrocería</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">

              <div class="card-body">
                <form>
                  <div class="row">
                    <div class="col-md-8">
                      <div class="card card-primary">
                        <div class="card-header">
                          <h3 id="title" class="card-title">Datos de la Carrocería y Clase de Vehículo</h3>
                        </div>

                        <div class="card-body">
                          <div class="form-group" style="display: none;">
                            <input id="idcarroceria" name="TipoCarroceria" readonly class="form-control" type="text">
                          </div>
                          <div class="form-group">
                            <label for="Nombre">Carrocería</label>
                            <input id="namecarroceria" name="Nombre" class="form-control" type="text">
                          </div>
                          <div class="form-group" style="display: none;">
                            <input name="IDClase" class="form-control" type="text">
                          </div>
                          <div class="form-group">
                            <label for="clase">Clase</label>
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <button type="button" class="btn btn-warning dropdown-toggle" id="btn_Action" data-toggle="dropdown" aria-expanded="true">
                                  Seleccionar Acción
                                </button>
                                <ul class="dropdown-menu" style="font-family: Arial, Helvetica, sans-serif;">
                                  <li class="dropdown-item"><a id="btn_new" type="button" style="display: flex;">Nueva</a></li>
                                  <li class="dropdown-divider"></li>
                                  <li class="dropdown-item"><a id="btn_register" type="button" style="display: flex;">Registradas</a></li>
                                </ul>
                              </div>
                              <input name="clase" pattern="" title="" id="Marca_input" class="form-control" type="text">
                              <select name="clase" class="form-control d-none" id="Marca_select">
                                {{#each clasevehiculo}}
                                  <option value={{this.IDClase}}>{{this.Clase}}</option>
                                {{/each}}
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="card card-primary">

                        <div class="card-header">
                          <h3 class="card-title">Acciones</h3>
                        </div>

                        <div class="card-body pb-2 pt-3 ">
                          <div class="form-group">
                            <button type="submit" class="btn btn-primary"> <i class="fa fa-plus nav-icon pr-2"></i>
                              Agregar</button>
                            <button type="button" class="btn btn-default   float-right"> <i
                                class="fa fa-trash nav-icon pr-2"></i>Limpiar</button>
                          </div>
                        </div>
                      </div>


                      <div class="card card-secondary">
                        <div class="card-header">
                          <h4 class="card-title">Formulario de Vehículos</h4>
                        </div>
                        <div class="card-body p-3">
                          <a href="/vehiculo" type="button" class="btn btn-outline-secondary">
                            Ir al formulario de Vehiculos<i class="fa fa-angle-double-right float-right pl-2 nav-icon"></i>
                          </a>
                        </div>
                      </div>


                    </div>

                  </div>
                </form>
              </div>

              <div class="card">
                <div class="card-header">
                  <!-- Consulta de los Modelos INNER JOIN Marcas -->
                  <h3 class="card-title">Registro de Tipos de Carrocería y Clases de Vehiculos</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <table id="example2" class="table table-bordered table-hover">
                    <thead>
                      <tr>
                        <th>Id Carrocería</th>
                        <th>Carrocería</th>
                        <th>Id Clase de Vehículo</th>
                        <th>Clase de Vehículo</th>
                        <th>Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      {{#each registros}}
                        <tr>
                          <td>{{this.TipoCarroceria}}</td>
                          <td>{{this.Nombre}}</td>
                          <td>{{this.IDClase}}</td>
                          <td>{{this.Clase}}</td>
                          <td>
                             <a href="#title" class="btn btn-edit" data-tipocarroceria={{this.TipoCarroceria}}
                            data-nombrecarroceria={{this.Nombre}} data-idclase={{this.IDClase}}
                            data-clase={{this.Clase}}>
                            <i class="nav-icon fas fa-edit" data-tipocarroceria={{this.TipoCarroceria}}
                              data-nombrecarroceria=""={{this.Nombre}} data-idclase={{this.IDClase}}
                              data-clase={{this.Clase}}></i>
                          </a>
                          <button class="btn btn-delete" data-tipocarroceria={{this.TipoCarroceria}}>
                            <i class="nav-icon fas fa-trash" style="flex: 1;" data-tipocarroceria={{this.TipoCarroceria}}></i>
                          </button>
                          </td>
                        </tr>
                      {{/each}}
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

 <footer class="main-footer">
    <strong>Copyright &copy; 2022 <a href="#">Taller Hno Flores &REG;</a>.</strong>
    Todos los derechos reservados
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 1.0.0
    </div>
  </footer>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
  </div>
  <!-- ./wrapper -->

  <script>
    const d = document;

    const $inputCarroceria = d.getElementById('namecarroceria'),
      $inputIDCarroceria = d.getElementById('idcarrroceria')

    d.addEventListener('keyup', e =>{
      if(e.target === $inputCarroceria){
        let TipoCarroceria = $inputCarroceria.value.toUpperCase();

        TipoCarroceria = TipoCarroceria.substring(0,1) + TipoCarroceria.substring(2,3)

        console.log(TipoCarroceria)
      }
    })


  </script>

  <script>

    const $select = d.getElementById('Marca_select')
    const $input = d.getElementById('Marca_input')
    //Boton de Accion
    const $btnAction = d.getElementById('btn_Action')
    
    const $btnNuevo = d.getElementById('btn_new')
    const $btnRegistrados = d.getElementById('btn_register')
    
    d.addEventListener('click',e => {
      if(e.target === $btnNuevo){
        $btnAction.textContent = $btnNuevo.textContent
        $select.classList.add('d-none')
        $input.classList.remove('d-none')
      }
      if(e.target === $btnRegistrados){
        $btnAction.textContent = $btnRegistrados.textContent
        
        $input.classList.add('d-none')
        $select.classList.remove('d-none')
      }
    })

  </script>
  <!-- jQuery -->
  <script src="../../plugins/jquery/jquery.min.js"></script>
  <!-- Bootstrap 4 -->
  <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- DataTables  & Plugins -->
  <script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
  <script src="../../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
  <script src="../../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
  <script src="../../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
  <script src="../../plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
  <script src="../../plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
  <script src="../../plugins/jszip/jszip.min.js"></script>
  <script src="../../plugins/pdfmake/pdfmake.min.js"></script>
  <script src="../../plugins/pdfmake/vfs_fonts.js"></script>
  <script src="../../plugins/datatables-buttons/js/buttons.html5.min.js"></script>
  <script src="../../plugins/datatables-buttons/js/buttons.print.min.js"></script>
  <script src="../../plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
  <!-- AdminLTE App -->
  <script src="../../dist/js/adminlte.min.js"></script>
  <!-- AdminLTE for demo purposes -->
  <script src="../../dist/js/demo.js"></script>
  <!-- Page specific script -->
  <script>
    $(function () {
      $("#example1").DataTable({
        "responsive": true, "lengthChange": false, "autoWidth": false,
        "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
      }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
      $('#example2').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": false,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "responsive": true,
      });
    });
  </script>
</body>
</html>