{{>header}}
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
    {{! Navbar }}
    {{>nav}}
    {{! /.navbar }}
    {{! Main Sidebar Container }}
    {{>aside}}
    {{! Content Wrapper. Contains page content }}
    <div class="content-wrapper">
      {{! Content Header (Page header) }}
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Clientes</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="./">Inicio</a></li>
                <li class="breadcrumb-item active">Clientes</li>
              </ol>
            </div>
          </div>
        </div>{{! /.container-fluid }}
      </section>
      {{! Main content }}
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card-body">
                <form method="post">
                  <div class="row">
                    <div class="col-md-8">
                      <div class="card card-primary">
                        <div class="card-header">
                          <h3 id="title" class="card-title">Datos del Cliente</h3>
                        </div>

                        <div class="card-body">
                          <div class="form-group">
                            <label for="Nombre">Nombres</label>
                            <input name="Nombre" title="Nombre solo acepta letras y espacios en blanco"
                              class="form-control" type="text">
                              <input name="IdCliente" style="display: none;"
                              class="form-control" type="text" value={{id}}>
                          </div>
                          <div class="form-group">
                            <label for="Apellido">Apellidos</label>
                            <input name="Apellido" title="" class="form-control" type="text">
                          </div>
                          <div class="form-group">
                            <label for="Telefono">Teléfono</label>
                            <input name="Telefono" pattern="^[0-9]" title="" class="form-control" type="number">
                          </div>

                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="card card-primary">

                        <div class="card-header">
                          <h3 class="card-title">Acciones</h3>
                        </div>

                        <div class="card-body pb-3 pt-4">
                          <div class="form-group">
                            <button type="submit" class="btn btn-primary"> <i class="fa fa-plus nav-icon pr-2"></i>
                              Agregar</button>
                            <button type="button" class="btn btn-default   float-right"> <i
                                class="fa fa-trash nav-icon pr-2"></i>Limpiar</button>
                          </div>
                          <div class="form-group">
                          </div>
                        </div>
                      </div>
                      <div class="card card-secondary pb-3">
                        <div class="card-header">
                          <h3 class="card-title">Formulario de Vehículos</h3>
                        </div>
                        <div class="card-body">
                          <a href="/vehiculo" type="button" class="btn btn-outline-secondary ">
                            Ir al formulario de Vehiculos<i class="fa fa-angle-double-right float-right align-middle pl-2 nav-icon"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>

              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Registro de los Datos de Clientes</h3>
                </div>
                {{! /.card-header }}
                <div class="card-body">
                  <table id="example2" class="table table-bordered table-hover">
                    <thead>
                      <tr>
                        <th>Id Cliente</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Telefono</th>
                        <th>Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      {{#if condicion }}
                        {{#each clientes }}
                          <tr>
                            <td>{{this.IdCliente}}</td>
                            <td>{{this.Nombre}}</td>
                            <td>{{this.Apellido}}</td>
                            <td>{{this.Telefono}}</td>
                            <td>
                              <a href="#title" class="btn btn-edit">
                                <i class="nav-icon fas fa-edit" 
                                  data-idcliente={{this.IdCliente}}
                                  data-nombre={{this.Nombre}}
                                  data-apellido={{this.Apellido}}
                                  data-telefono={{this.Telefono}}>
                                </i>
                              </a>
                              <button class="btn btn-delete">
                                <i class="nav-icon fas fa-trash"></i>
                              </button>
                            </td>
                          </tr>
                        {{/each}}
                      {{/if}}
                    </tbody>
                  </table>
                </div>
                {{! /.card-body }}
              </div>
              {{! /.card }}
            </div>
            {{! /.col }}
          </div>
          {{! /.row }}
        </div>
        {{! /.container-fluid }}
      </section>
      {{! /.content }}
    </div>
    {{! /.content-wrapper }}
    {{! Control Sidebar }}
    <aside class="control-sidebar control-sidebar-dark">
      {{! Control sidebar content goes here }}
    </aside>
    {{! /.control-sidebar }}
{{>footer}}
  {{! ./wrapper }}

  <script>
    const d = document;

    const $inputNombre = d.querySelector('input[name="Nombre"]'),
    $inputApellido = d.querySelector('input[name="Apellido"]'),
    $inputTelefono = d.querySelector('input[name="Telefono"]'),
    $inputId = d.querySelector('input[name="IdCliente"]')

    const id = `{{id}}`

    $inputId.value = id

    d.addEventListener('click', e => {

      if(e.target.matches('.nav-icon.fas.fa-edit')){
        $inputNombre.value = e.target.dataset.nombre;
        $inputApellido.value = e.target.dataset.apellido;
        $inputTelefono.value = e.target.dataset.telefono;
        $inputId.value = e.target.dataset.idcliente
      }
    })

  </script>
  <!-- jQuery -->
  <script src="../../plugins/jquery/jquery.min.js"></script>
  <!-- Bootstrap 4 -->
  <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- DataTables  & Plugins -->
  <script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
  <script src="../../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
  <script src="../../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>\\
  <script src="../../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
  <script src="../../plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
  <script src="../../plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
  <script src="../../plugins/datatables-buttons/js/buttons.html5.min.js"></script>
  <script src="../../plugins/datatables-buttons/js/buttons.print.min.js"></script>
  <script src="../../plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
  <script src="../../plugins/jszip/jszip.min.js"></script>
  <script src="../../plugins/pdfmake/pdfmake.min.js"></script>
  <script src="../../plugins/pdfmake/vfs_fonts.js"></script>
  <!-- AdminLTE App -->
  <script src="../../dist/js/adminlte.min.js"></script>
  <!-- AdminLTE for demo purposes -->
  <script src="../../dist/js/demo.js"></script>
  <!-- Page specific script -->
  <script>
    $(function () {
      $("#example1").DataTable({
        "responsive": true, "lengthChange": false, "autoWidth": false,
        "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
      }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
      $('#example2').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": false,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "responsive": true,
      });
    });
  </script>


</body>
</html>