{{>header}}
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper"> 
 
<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <!-- Navbar -->
    {{>nav}}
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    {{>aside}}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Producto</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="./">Inicio</a></li>
                <li class="breadcrumb-item active">producto</li>
              </ol>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </section>

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
            <div class="col-12">
              <div class="card-body">
                <form action="/producto" method="post">
                  <div class="card card-primary">
                    <div class="card-header">
                      <h3 id="title" class="card-title">Datos del Producto</h3>
                    </div>
                    <div class="card-body">
                      <div class="row">
                        <div class="form-group col-6">
                          <label for="CodProducto">Código del Producto</label>
                          <input name="CodProducto" readonly value="{{this.id}}"
                            class="form-control" type="text" required />
                        </div>
                        <div class="form-group col-6">
                          <label for="PrecioUnidad">Precio</label>
                          <input name="PrecioUnidad" pattern="" title="Precio solo acepta letras en Mayuscula y números"
                            class="form-control" type="number"  required />
                        </div>   
                      </div>

                      <div class="row">
                        <div class="form-group col-6">
                          <label for="NombreProducto">Nombre</label>
                          <input name="NombreProducto" title="" class="form-control" type="text" required/>
                        </div>
                        
                          <div class="form-group col-3">
                              <label for="categoria">Categoria</label>
                                <select name="categoria" class="form-control" title="Categoria" id="idcategoria"  required>
                                  {{#each categorias}}
                                    <option value={{this.IDCategoria}}>{{this.NombreCategoria}}</option>
                                  {{/each}}
                                </select>
                              </div>
                           
                              <div class="form-group col-3">
                                <label for="Stock">Stock</label>
                                <input name="Stock" title="" class="form-control" type="number" required />
                              </div>
                         </div>
                      </div>
                      
                    <div class="card-footer">
                      <button type="submit" class="btn btn-primary"><i class="nav-icon fa fa-plus pr-2"></i>Agregar</button>
                      <button type="button" class="btn btn-default float-right"><i class="nav-icon fa fa-trash pr-2"></i>Limpiar</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>

              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">
                    Registro de los Datos de los Productos
                  </h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <table id="example2" class="table table-bordered table-hover">
                    <thead>
                      <tr>
                        <th>Código de Producto</th>
                        <th>Descripción</th>
                        <th>Id Tipo de Producto</th>
                        <th>Tipo de Producto</th>
                        <th>Precio</th>
                        <th>Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      {{#each rows}}
                        <tr>
                          <td>{{this.CodProducto}}</td>
                          <td>{{this.NombreProducto}}</td>
                          <td>{{this.IDCategoria}}</td>
                          <td>{{this.PrecioUnidad}}</td>
                          <td>{{this.Stock}}</td>
                          <td>
                            <a href="#title" class="btn btn-edit" data-codproducto={{this.CodProducto}} data-nombre="{{this.NombreProducto}}" data-idcategoria={{this.IDCategoria}} data-precio="{{this.PrecioUnidad}}" data-stock="{{this.Stock}}">
                            <i class="nav-icon fas fa-edit" data-codproducto={{this.CodProducto}} data-nombre="{{this.NombreProducto}}" data-idcategoria={{this.IDCategoria}} data-precio="{{this.PrecioUnidad}}" data-stock="{{this.Stock}}"></i>
                          </a>
                          <button class="btn btn-delete" data-codproducto={{this.CodProducto}}>
                            <i class="nav-icon fas fa-trash" style="flex: 1;" data-codproducto={{this.CodProducto}}></i>
                          </button>
                          </td>
                        </tr>
                      {{/each}}
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
  </div>
  <!-- ./wrapper -->

  {{>footer}}

  <!-- Page specific script -->
   <script>
    const d = document;
    const $select = d.getElementById('Tipo_Select')
    const $input = d.getElementById('Tipo_input')
    //Boton de Accion
    const $btnAction = d.getElementById('btn_Action')
    
    const $btnNuevo = d.getElementById('btn_new')
    const $btnRegistrados = d.getElementById('btn_register')

    //Actualizar
    const $inputCodProducto = d.querySelector('input[name="CodProducto"]'),
      $inputNombreProducto = d.querySelector('input[name="NombreProducto"]'),
      $inputPrecioUnidad = d.querySelector('input[name="PrecioUnidad"]'),
      $selectCategoria = d.querySelector('select[name="categoria"]'),
      $inputStock = d.querySelector('input[name="Stock"]')
    
    d.addEventListener('click',e => {
      if(e.target === $btnNuevo){
        $btnAction.textContent = $btnNuevo.textContent

        $select.classList.add('d-none')
        $input.classList.remove('d-none')
      }
      if(e.target === $btnRegistrados){
        $btnAction.textContent = $btnRegistrados.textContent
        
        $input.classList.add('d-none')
        $select.classList.remove('d-none')
      }
      if (e.target.matches('.btn.btn-edit>*, .btn.btn-edit')) {
        $inputCodProducto.value = e.target.dataset.codproducto
        $inputNombreProducto.value = e.target.dataset.nombre
        $inputPrecioUnidad.value = e.target.dataset.precio
        $selectCategoria.value = e.target.dataset.idcategoria
        $inputStock.value = e.target.dataset.stock
      }if(e.target.matches('.btn.btn-delete > *, .btn.btn-delete')){
                Swal.fire({
          title: 'Esta seguro que desea eliminar este registro?',
          text: "No sera capaz de revertir esto",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Si, estoy seguro',
          cancelButtonText: 'Cancelar'
        }).then((result) => {
          if (result.isConfirmed) {
            let options = {
              method: 'delete',
              headers: {
                'Content-Type': 'aplication/json;charset=utf-8'
              },
              body: e.target.dataset.codproducto
            }
            const del = fetch(`http://localhost:3000/prodcuto/${options.body}`, options)
              .then(() => {
                Swal.fire(
                  'Borrado!',
                  'El registro ha sido borrado.',
                  'success'
                ).then(() => {
                  window.location.reload()
                })
              })
          }
        })
      }
    })

  </script>


  <script>
    $(function () {
      $("#example1")
        .DataTable({
          responsive: true,
          lengthChange: false,
          autoWidth: false,
          buttons: ["copy", "csv", "excel", "pdf", "print", "colvis"],
        })
        .buttons()
        .container()
        .appendTo("#example1_wrapper .col-md-6:eq(0)");
      $("#example2").DataTable({
        paging: true,
        lengthChange: false,
        searching: false,
        ordering: true,
        info: true,
        autoWidth: false,
        responsive: true,
      });
    });
  </script>

  
  <script>
      document.getElementById('example2').DataTable({
      paging: true,
      lengthChange: false,
      searching: false,
      ordering: true,
      info: true,
      autoWidth: false,
      responsive: true,
    })
      
  </script>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="../../plugins/jquery/jquery.min.js"></script>
  <!-- Bootstrap 4 -->
  <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- DataTables  & Plugins -->
  <script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
  <script src="../../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
  <script src="../../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
  <script src="../../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
  <script src="../../plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
  <script src="../../plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
  <script src="../../plugins/jszip/jszip.min.js"></script>
  <script src="../../plugins/pdfmake/pdfmake.min.js"></script>
  <script src="../../plugins/pdfmake/vfs_fonts.js"></script>
  <script src="../../plugins/datatables-buttons/js/buttons.html5.min.js"></script>
  <script src="../../plugins/datatables-buttons/js/buttons.print.min.js"></script>
  <script src="../../plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
  <!-- AdminLTE App -->
  <script src="../../dist/js/adminlte.min.js"></script>
  <!-- AdminLTE for demo purposes -->
  <script src="../../dist/js/demo.js"></script>
  <!-- Page specific script -->
  <script>
    $(function () {
      $("#example1").DataTable({
        "responsive": true, "lengthChange": false, "autoWidth": false,
        "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
      }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
      $('#example2').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": false,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "responsive": true,
      });
    });
  </script>
</body>

</html>