{{>header}}
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper"> 
 
<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <!-- Navbar -->
    {{>nav}}
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    {{>aside}}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Servicio</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="./">Inicio</a></li>
                <li class="breadcrumb-item active">servicio</li>
              </ol>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </section>

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card-body">
                <form action="/servicio" method="post">
                  <div class="card card-primary">
                    <div class="card-header">
                      <h3 id="title" class="card-title">Datos del Servicio</h3>
                    </div>

                    <div class="card-body">
                      <div class="row">
                        <div class="form-group col-6">
                          <label for="IdServicio">Código del Servicio</label>
                          <input name="IdServicio" value={{id}} readonly
                            class="form-control" type="text" />
                        </div>
                        
                        <div class="form-group col-6">
                          <label for="DescripServicio">Descripción</label>
                          <textarea name="DescripServicio"  title="" class="form-control" type="text"></textarea>
                        </div>
                      </div>

                      <div class="row">
                        <div class="form-group col-6">
                          <label for="Tarifa">Tarifa</label>
                          <input name="Tarifa"  title="Tarifa solo acepta letras en Mayuscula y números"
                            class="form-control" type="float" />
                        </div>
                          <div class="form-group col-6">
                            <label for="CodCategoria">Categoria</label>
                              <select name="CodCategoria" title="Seleccionar Categoria" class="form-control" id="Categoria_select">
                                {{#each categories }}
                                  <option value={{this.CodCategoria}}>{{this.NombreCategoria}}</option>
                                {{/each}}
                              </select>
                            </div>
                          </div>
                          </div>
                    <div class="card-footer">
                      <button type="submit" class="btn btn-primary"><i class="nav-icon fa fa-plus pr-2"></i>Agregar</button>
                      <button type="button" class="btn btn-default float-right"><i class="nav-icon fa fa-trash pr-2"></i>Limpiar</button>
                      </div>
                      </div>
                  </div>
                    </div>
                  </form>
                </div>
              </div>

              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">
                    Registro de los Datos de los Servicios
                  </h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body" >
                  <table id="example1" class="table table-bordered table-striped dataTable dtr-inline">
                    <thead>
                      <tr>
                        <th>Código de Servicio</th>
                        <th>Descripción</th>
                        <th>Tarifa</th>
                        <th>Código de Categoria</th>
                        <th>Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      {{#each rows}}
                        <tr>
                          <td>{{this.IdServicio}}</td>
                          <td>{{this.DescripServicio}}</td>
                          <td>{{this.Tarifa}}</td>
                          <td>{{this.CodCategoria}}</td>
                          <td>
                            <a href="#title" class="btn btn-edit" data-idservicio={{this.IdServicio}} data-descripcion="{{this.DescripServicio}}" data-tarifa="{{this.Tarifa}}" data-codcategoria="{{this.CodCategoria}}">
                            <i class="nav-icon fas fa-edit" data-idservicio={{this.IdServicio}} data-descripcion="{{this.DescripServicio}}" data-tarifa="{{this.Tarifa}}" data-codcategoria="{{this.CodCategoria}}"></i>
                          </a>
                          <button class="btn btn-delete" data-idservicio={{this.IdServicio}} >
                            <i class="nav-icon fas fa-trash" style="flex: 1;" data-idservicio={{this.IdServicio}} ></i>
                          </button>
                          </td>
                        </tr>
                      {{/each}}
                    </tbody>
                    <tfoot>
                      <tr>
                        <th>Código de Servicio</th>
                        <th>Descripción</th>
                        <th>Tarifa</th>
                        <th>Código de Categoria</th>
                        <th>Acciones</th>
                      </tr>
                    </tfoot>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
  </div>
  <!-- ./wrapper -->

  {{>footer}}

  <!-- Page specific script -->
   <script>
    const d = document;
    const $select = d.getElementById('Categoria_Select')
    const $input = d.getElementById('Categoria_input')
    //Boton de Accion
    const $btnAction = d.getElementById('btn_Action')
    
    const $btnNuevo = d.getElementById('btn_new')
    const $btnRegistrados = d.getElementById('btn_register')

    //
    const $inputIdServicio = d.querySelector('input[name="IdServicio"]'),
      $textAreaDescription = d.querySelector('textarea[name="DescripServicio"]'),
      $inputTarifa = d.querySelector('input[name="Tarifa"]'),
      $selectCodCategoria = d.querySelector('select[name="CodCategoria"]')  
    
    d.addEventListener('click',e => {
      if(e.target === $btnNuevo){
        $btnAction.textContent = $btnNuevo.textContent

        $select.classList.add('d-none')
        $input.classList.remove('d-none')
      }
      if(e.target === $btnRegistrados){
        $btnAction.textContent = $btnRegistrados.textContent
        
        $input.classList.add('d-none')
        $select.classList.remove('d-none')
      }

      if(e.target.matches('.btn.btn-edit > *, .btn.btn-edit')){
        $inputIdServicio.value = e.target.dataset.idservicio 
        $inputTarifa.value = e.target.dataset.tarifa 
        $textAreaDescription.value = e.target.dataset.descripcion
        $selectCodCategoria.value = e.target.dataset.codcategoria
      }
      if(e.target.matches('.btn.btn-delete > *, .btn.btn-delete')){
        Swal.fire({
          title: 'Esta seguro que desea eliminar este registro?',
          text: "No sera capaz de revertir esto",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Si, estoy seguro',
          cancelButtonText: 'Cancelar'
        }).then((result) => {
          if (result.isConfirmed) {
            let options = {
              method: 'delete',
              headers: {
                'Content-Type': 'aplication/json;charset=utf-8'
              },
              body: e.target.dataset.idorden
            }
            const del = fetch(`http://localhost:3000/orden/${options.body}`, options)
              .then(() => {
                Swal.fire(
                  'Borrado!',
                  'El registro ha sido borrado.',
                  'success'
                ).then(() => {
                  window.location.reload()
                })
              })
          }
        })
      }
    })

  </script>
  <!-- jQuery -->
  <script src="../../plugins/jquery/jquery.min.js"></script>
  <!-- Bootstrap 4 -->
  <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- DataTables  & Plugins -->
  <script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
  <script src="../../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
  <script src="../../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>\\
  <script src="../../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
  <script src="../../plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
  <script src="../../plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
  <script src="../../plugins/datatables-buttons/js/buttons.html5.min.js"></script>
  <script src="../../plugins/datatables-buttons/js/buttons.print.min.js"></script>
  <script src="../../plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
  <script src="../../plugins/jszip/jszip.min.js"></script>
  <script src="../../plugins/pdfmake/pdfmake.min.js"></script>
  <script src="../../plugins/pdfmake/vfs_fonts.js"></script>
  <!-- AdminLTE App -->
  <script src="../../dist/js/adminlte.min.js"></script>
  <!-- AdminLTE for demo purposes -->
  <script src="../../dist/js/demo.js"></script>

  <script>
    $(function () {
      $("#example1").DataTable({
        paging: true,
        searching: true,
        ordering: true,
        lengthChange: false,
        info: true,
        autoWidth: false,
        responsive: true,
        "language": {
            "sProcessing":    "Procesando...",
            "sLengthMenu":    "Mostrar _MENU_ registros",
            "sZeroRecords":   "No se encontraron resultados",
            "sEmptyTable":    "Ningún dato disponible en esta tabla",
            "sInfo":          "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty":     "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered":  "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix":   "",
            "sSearch":        "Buscar:",
            "sUrl":           "",
            "sInfoThousands":  ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst":    "Primero",
                "sLast":    "Último",
                "sNext":    "Siguiente",
                "sPrevious": "Anterior"
            },
            "oAria": {
                "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            }
        },
        buttons: ["copy", "csv", "excel", "pdf", "print"]

      }).buttons().container().appendTo("#example1_wrapper .col-md-6:eq(0)");
    });

  </script>
  
</body></html>