{{>header}}
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper"> 
 
<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <!-- Navbar -->
    {{>nav}}
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    {{>aside}}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Vehículo</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="./">Inicio</a></li>
                <li class="breadcrumb-item active">Vehículo</li>
              </ol>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </section>

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card-body">
                <form action="/vehiculo" method="post">
                  <div class="card card-primary">
                    <div class="card-header">
                      <h3 class="card-title">Datos del Vehículo</h3>
                    </div>

                    <div class="card-body">
                      <div class="row">
                        <div class="form-group col-6">
                          <label for="Placa">Placa</label>
                          <input name="Placa" title="Placa solo acepta letras en Mayuscula y números"
                            class="form-control" type="text" required/>
                        </div>
                        
                        <div class="form-group col-6">
                          <label for="año">Año</label>
                          <input name="Año" pattern="^[0-9]" title="" class="form-control" type="number" required/>
                        </div>
                      </div>

                      <div class="row">
                        <div class="form-group col-6">
                          <label for="IdCliente">Código de Cliente</label>
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <a href="/cliente" type="button" class="btn btn-outline-info">
                                <i class="fa fa-plus nav-icon"></i>
                              </a>
                            </div>
                            <select name="IdCliente" class="form-control" id="idcliente" required>
                              {{#each cliente}}
                                <option value={{ this.IdCliente }}>{{this.IdCliente}}. {{ this.Nombre }}</option>
                              {{/each}}
                              </option>
                            </select>
                          </div>
                        </div>

                        <div class="form-group col-6">
                          <label for="IDModelo">Código del Modelo</label>
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <a href="/modelo" type="button" class="btn btn-outline-info">
                                <i class="fa fa-plus nav-icon"></i>
                              </a>
                            </div>
                            <select name="IDModelo" class="form-control" id="idmodelo" required>
                              {{#each Modelo}}
                              <option value={{this.IDModelo}}> {{this.IDModelo}}. {{ this.NombreModelo }} </option>
                              {{/each}}
                            </select>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="form-group col-6">
                          <label for="CodigoColor">Código del Color</label>
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <a href="/color" type="button" class="btn btn-outline-info">
                                <i class="fa fa-plus nav-icon"></i>
                              </a>
                            </div>
                            <select name="CodigoColor" class="form-control" id="idcolor" required>
                              {{#each color}}
                              <option value={{this.CodigoColor}}> {{ this.NombreColor }}</option>
                              {{/each }}
                            </select>
                          </div>
                        </div>

                        <div class="form-group col-6">
                          <label for="TipoCarroceria">Tipo de Carroceria</label>
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <a href="/carroceria" type="button" class="btn btn-outline-info">
                                <i class="fa fa-plus nav-icon"></i>
                              </a>
                            </div>
                            <select name="TipoCarroceria" class="form-control" id="idTipoCarroceria" required>
                              {{#each TipoCarroceria}}
                                <option value={{this.TipoCarroceria}}> {{ this.Nombre }}</option>
                              {{/each}}
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="card-footer">
                      <button type="submit" class="btn btn-primary"><i class="nav-icon fa fa-plus pr-2"></i>Guardar</button>
                      <button type="button" class="btn btn-default float-right"><i class="nav-icon fa fa-trash pr-2"></i>Limpiar</button>
                    </div>
                  </div>
                </form>
              </div>
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">
                    Registro de los Datos de los Vehículos
                  </h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <table id="example2" class="table table-bordered table-hover">
                    <thead>
                      <tr>
                        <th>Placa</th>
                        <th>Id Cliente</th>
                        <th>Id Modelo</th>
                        <th>Código Color</th>
                        <th>Tipo de Carroceria</th>
                        <th>Clase de Vehiculo</th>
                        <th>Año</th>
                        <th>Acciones</th>
                      </tr>
                    </thead>
                    <tbody>

                    {{#each registers }}
                      <tr>
                        <td>{{ this.Placa }}</td>
                        <td>{{ this.IdCliente }}</td>
                        <td>{{ this.IDModelo }}</td>
                        <td>{{ this.CodigoColor }} </td>
                        <td>{{ this.TipoCarroceria  }} </td> <!--Tipo Combustible-->
                        <td>{{ this.Nombre }} </td> <!--Tipo Motor -->
                        <td>{{ this.Año}} </td>
                        <td>
                          <button class="btn btn-edit" data-placa={{this.Placa}} data-cliente={{ this.IdCliente }}
                          data-modelo={{ this.IDModelo }} data-color={{ this.CodigoColor }} data-carroceria={{ this.TipoCarroceria }} data-clase={{ this.Nombre }} data-anio={{ this.Año }}>
                            <i class="nav-icon fas fa-edit" data-placa={{ this.Placa }} data-cliente={{ this.IdCliente }}
                          data-modelo={{ this.IDModelo }} data-color={{ this.CodigoColor }} data-carroceria={{ this.TipoCarroceria }} data-clase={{ this.Nombre }} data-anio={{ this.Año }}></i>
                          </button>
                          <button class="btn btn-delete">
                            <i class="nav-icon fas fa-trash" data-placa={{ this.Placa }}></i>
                          </button>
                        </td>
                      </tr>
                    {{/each}}
                    </tbody>

                  </table>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
  </div>
  <!-- ./wrapper -->

  <script>
    const d = document;

    const $inputPlaca = d.querySelector('input[name="Placa"]'),
      $selectCliente = d.querySelector('select[name="IdCliente"]'),
      $selectModelo = d.querySelector('select[name="IDModelo"]'),
      $selectColor = d.querySelector('select[name="CodigoColor"]'),
      $selectCarroceria = d.querySelector('select[name="TipoCarroceria"]'),
      $inputAnio = d.querySelector('input[name="Año"]');
    //  $selectClase = d.querySelector

    document.addEventListener( 'click', e =>{
      if(e.target.matches('button.btn.btn-edit > *')){
        console.log('Vamos')
        $inputPlaca.value = e.target.dataset.placa
        $selectCliente.value = e.target.dataset.cliente
        $selectModelo.value = e.target.dataset.modelo
        $selectColor.value = e.target.dataset.color
        $selectCarroceria.value = e.target.dataset.carroceria
        $inputAnio.value = e.target.dataset.anio
      }
    })
  </script>
 /// ESTO SE VA CAMBIAR

     /* document.addEventListener('click', (e) =>{
      if(e.target.matches('button.btn.btn-delete > *')){
         let options = {
            method: 'delete',
            headers: {
              'Content-Type': 'aplication/json;charset=utf-8'
            },
            body: e.target.dataset.placa
          }
        const del = fetch(`http://localhost:3000/vehiculo/${e.target.dataset.placa}`, options).then()
      }
    }) */
  </script> --}}

  <script>

      $("#example2").DataTable({
        paging: true,
        lengthChange: false,
        searching: false,
        ordering: true,
        info: true,
        autoWidth: false,
        responsive: true,
      });
    
  </script>


  {{>footer}}